/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  height: 100vh;
  background: rgb(79, 105, 79);

  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

h1 {
  font-size: 2em;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 100px;
  background: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}


main {
  height: calc(100% - 100px);
}

.card {
  height: 200px;
  width: 140px;
  background: white;
  border: 3px solid black;
  border-radius: 20px;
  margin: 5px;
}

.game {

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 80%;
}

.hands {
  height: 100%;
  width: 800px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}

.dealer, .player{
  display: flex;
}

/* for when the hand is too long to display properly */
.bighand:not(:first-child) {
  margin-left: -2em;
}

.empty {
  width: 150px;
}

.menu {
  height: 20%;
  background: black;

  display: flex;
  justify-content: center;

  padding: 10px;
}

button {
  height: 100px;
  width: 200px;

  font-size: 1.5em;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
